[submodule "upstream/YSFLIGHT"]
	path = upstream/YSFLIGHT
	url = https://github.com/tomingtoming/YSFLIGHT.git
	branch = main
[submodule "upstream/public"]
	path = upstream/public
	url = https://github.com/tomingtoming/public.git
	branch = main
